<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/styles/commons.bundle.css">
    <meta charset="utf-8">
    <title>Hello CS dashboard</title>
</head>
<body>
   <div class="dashboard">
        <div class="dashboard__panel" id="left-panel">
            <div class="team-stats">
                <div class="team-stats__rank">1</div>
                <div class="team-stats__name">team-01</div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__score">
                    <div class="team-stats__score-total">1045</div>
                    <div class="team-stats__score-penalty">-70</div>
                </div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__progress-panel">
                    <div class="team-stats__progress-item failed">1</div>
                    <div class="team-stats__progress-item completed">2</div>
                    <div class="team-stats__progress-item uncompleted">3</div>
                    <div class="team-stats__progress-item">4</div>
                    <div class="team-stats__progress-item">5</div>
                    <div class="team-stats__progress-item">6</div>
                    <div class="team-stats__progress-item">7</div>
                    <div class="team-stats__progress-item">8</div>
                    <div class="team-stats__progress-item">9</div>
                    <div class="team-stats__progress-item">10</div>
                </div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__stage-status started">TEST</div>
                <div class="team-stats__stage-status succeeded">BUILD</div>
            </div>
            <div class="team-stats">
                <div class="team-stats__rank">11</div>
                <div class="team-stats__name">team-03</div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__score">
                    <div class="team-stats__score-total">645</div>
                    <div class="team-stats__score-penalty">-65</div>
                </div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__progress-panel">
                    <div class="team-stats__progress">
                        <div class="team-stats__progress-item">1</div>
                        <div class="team-stats__progress-item">2</div>
                        <div class="team-stats__progress-item">3</div>
                        <div class="team-stats__progress-item">4</div>
                        <div class="team-stats__progress-item">5</div>
                    </div>
                    <div class="team-stats__progress">
                        <div class="team-stats__progress-item">6</div>
                        <div class="team-stats__progress-item">7</div>
                        <div class="team-stats__progress-item">8</div>
                        <div class="team-stats__progress-item">9</div>
                        <div class="team-stats__progress-item">10</div>
                    </div>
                </div>

                <div class="team-stats__divider"></div>

                <div class="team-stats__stage-status">TEST</div>
                <div class="team-stats__stage-status failed">BUILD</div>
            </div>

        </div>

        <div class="dashboard__panel" id="right-panel">
        </div>
   </div>

<!-- BEGIN UNDERSCORE 'team-stats' TEMPLATE -->
<script type="text/template" class="tmpl-TeamStats">
   <div class="team-stats">
       <div class="team-stats__rank"><%- team.rank %></div>
       <div class="team-stats__name"><%- team.name %></div>

       <div class="team-stats__divider"></div>

       <div class="team-stats__score">
           <div class="team-stats__score-total"><%- team.score %></div>
           <div class="team-stats__score-penalty">-<%- team.penalty %></div>
       </div>

       <div class="team-stats__divider"></div>

       <div class="team-stats__progress-panel">
           <% _.each( team.user_stories, function( us ){ %>
           <div class="team-stats__progress-item <%- us.status  %>"><%- us.number  %></div>
           <% }); %>
       </div>

       <div class="team-stats__divider"></div>

       <div class="team-stats__stage-status <%- team.build %>">Build</div>
       <div class="team-stats__stage-status <%- team.test %>">Test</div>
   </div>
</script>
<!-- END UNDERSCORE 'team-stats' TEMPLATE -->

<!-- Include and run scripts. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript">
    _.templateSettings.variable = "team";

    var template = _.template(
        $("script.tmpl-TeamStats").html()
    );

    var teamData1 = {
        rank: 7,
        name: "Underscore Rocks",
        score: 1010,
        penalty: 39,
        user_stories: [
            { "number": 1, "status": "completed" },
            { "number": 2, "status": "failed" },
            { "number": 3, "status": "uncompleted" },
            { "number": 4, "status": "completed" },
            { "number": 5, "status": "failed" },
            { "number": 6, "status": "failed" },
            { "number": 7, "status": "failed" },
            { "number": 8, "status": "uncompleted" },
            { "number": 9, "status": "uncompleted" },
            { "number": 10, "status": "completed" },
        ],
        build: "succeeded",
        test: "failed"
    };

    var teamData2 = {
        rank: 13,
        name: "Underscore Rocks",
        score: 666,
        penalty: 15,
        user_stories: [
            { "number": 1, "status": "uncompleted" },
            { "number": 2, "status": "failed" },
            { "number": 3, "status": "uncompleted" },
            { "number": 4, "status": "completed" },
            { "number": 5, "status": "failed" },
            { "number": 6, "status": "uncompleted" },
            { "number": 7, "status": "failed" },
            { "number": 8, "status": "completed" },
            { "number": 9, "status": "uncompleted" },
            { "number": 10, "status": "failed" },
        ],
        build: "failed",
        test: "started"
    };

    $("#left-panel").append( template(teamData1) );
    $("#left-panel").append( template(teamData2) );
    $("#left-panel").append( template(teamData2) );
    $("#left-panel").append( template(teamData2) );
    $("#left-panel").append( template(teamData1) );
    $("#right-panel").append( template(teamData2) );
    $("#right-panel").append( template(teamData2) );


</script>


</body>
</html>
