.dashboard {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &__panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $csBackground;
    border: 2px solid $csYellow;
  }
}
