.team-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  margin: 20px;
  background-color: $lightGray;

  &__name {
    margin: 0 5px;
    font-family: $hindRegular;
    color: $csYellow;
    text-transform: uppercase;
  }

  &__progress {
    display: flex;
    flex-direction: row;
  }

  &__progress-item {
    margin: 2px;
    width: 18px;
    height: 18px;
    background-color: lightgray;
  }

  &__stage-status {
    display: inline-block;
    padding: 0 18px;
    height: 32px;
    font-family: $hindBold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 32px;
    color: $white;
    @include border-radius-all(50px);
    background-color: $lightGreen;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
      color: $white;
      text-decoration: none;
      background-color: $lightRed;
    }
  }
}