.team-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  margin: 20px;
  background-color: $lightGray;

  &__divider {
    width: 2px;
    border-right: 2px solid white;
    height: 40px;
  }

  &__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-style: solid;
    @include border-radius-all(10px);
    color: $csYellow;
    font-size: 35px;
  }
  
  &__score {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //height: 60px;
    text-align: right;
    font-size: 1.2rem;
  }

  &__score-total {
    color: limegreen;
    font-weight: 800;
  }

  &__score-penalty {
    color: red;
    font-weight: 200;
  }

  &__name {
    margin: 0 5px;
    font-family: $hindRegular;
    color: $csYellow;
    text-transform: uppercase;
  }

  &__progress-panel {
    display: flex;
    flex-direction: column;
  }

  &__progress {
    display: flex;
    flex-direction: row;
  }

  &__progress-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #666;
    width: 20px;
    height: 20px;
    color: white;
    font: 10px Arial, sans-serif;
  }

  &__stage-status {
    display: inline-block;
    padding: 0 18px;
    height: 32px;
    font-family: $hindBold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 32px;
    color: $white;
    @include border-radius-all(50px);
    background-color: $lightRed;
    text-decoration: none;
    border: none;
  }
}